@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased
}

html,
body {
  height: 100%;

}

#root {
  display: flex;
  background: rgb(115, 138, 254);
  background: -moz-radial-gradient(circle, rgba(115, 138, 254, 1) 0%, rgba(255, 120, 147, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(115, 138, 254, 1) 0%, rgba(255, 120, 147, 1) 100%);
  background: radial-gradient(circle, rgba(115, 138, 254, 1) 0%, rgba(255, 120, 147, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#738afe", endColorstr="#ff7893", GradientType=1);
}

.menu {
  top: 0;
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: left;
  border-bottom: 1px solid #aaa;
  overflow: hidden;
  background-color: #333;
  font-family: Amatic SC, sans-serif;
  font-size: 20px;
  font-weight: 800;
}

.menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 100%;
  color: #fff;
  height: 100%;
  transition: 500ms;
  width: 100%;
}

.menu a:hover {
  color: #fff;
  background-color: rgb(91, 105, 105);
  transition: 300ms;
}



.sidebar {
  width: 18%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  overflow: auto;
}

.sidebar::-webkit-scrollbar {
  visibility: hidden;
  width: 5px;
  border-radius: 10px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #73898f;
  border-radius: 5px;
  visibility: hidden;
}

.side-content {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 5px;
  max-height: 295px;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: 3px 3px 4px rgb(128, 125, 125);
}

.sidebar h2 {
  display: flex;
  justify-content: center;
  font-weight: 500;
  margin-top: 65px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  color: #0a0a0a;
  font-family: Amatic SC, cursive;
  font-size: 20px;
  font-weight: 800;
}

.sidebar h4 {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-top: 4px;
  padding-bottom: 4px;
  justify-content: center;
  background-color: #436279;
  color: #ddd;
  font-family: Amatic SC, cursive;
  font-size: 20px;
  font-weight: bold;
}

.sidebar p {
  padding-left: 5px;
  background-color: #333;
  color: #ddd;
  padding-right: 4px;
}

.side-content:last-child {
  margin-bottom: 20px;
}

.side-content:hover {
  cursor: pointer;
}



.main-div-posts {
  display: block;
  margin: 30px;
  width: 60%;
  margin-top: 65px;
  height: (100% - 65px);
}

.post-place {
  right: 0;
  border: 1px solid #ddd;
  width: 50%;
  border-radius: 6px;
  margin: 10px;
  -webkit-box-shadow: -9px -2px 17px -6px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: -9px -2px 17px -6px rgba(0, 0, 0, 0.55);
  box-shadow: -9px -2px 17px -6px rgba(0, 0, 0, 0.55);
  cursor: pointer;
  margin-bottom: 20px;
}

.main-div-posts:last-child {
  margin-bottom: 40px;
}

.post-header {
  display: flex;
  justify-content: center;
  font-family: Amatic SC, cursive;
  font-size: 25px;
  font-weight: bold;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;

}

.post-body {
  padding: 10px;
  overflow: hidden;
  max-height: 295px;

}


.github-sign {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  right: 0;
  overflow: hidden;
  width: 120px;
  height: 70px;
  max-width: 120px;
  max-height: 70px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #333;
  border-radius: 6px;
  background-color: #333;
  color: #ddd;
  font-size: 10px;
  cursor: pointer;
}

.github-sign p:first-child {
  margin-bottom: 5px;
  font-size: 12px;
}

.github-sign p {
  font-size: 12px;
}

.cikis-yap a {
  display: flex;
  justify-content: center;
  color: cadetblue;
  margin-top: 5px;

}

.cikis-yap p {
  display: flex;
  justify-content: center;
}

.cikis-yap {
  font-size: 10px;
  margin: 5px;
  cursor: pointer;
  background-size: cover;
}